{deps, [{log_viewer, "0.9.0",
         {git, "git://github.com/dmitryme/log_viewer.git", {branch, "master"}}}
]}.

{sub_dirs,
   [
      "apps/qinfo_common",
      "apps/nitrogen_core",
      "apps/simple_bridge",
      "apps/nprocreg",
      "apps/metadata",
      "apps/rts_plaza2",
      "apps/micex_mtesrl",
      "apps/log_viewer"
   ]
}.

{erl_opts,
   [
      debug_info,
      {d, 'TEST'}
   ]
}.
