tr:hover
{
   background-color: #F1F1F1;
   cursor: pointer;
}

tr.error
{
   background-color: #FFDDDD;
}

tr.error:hover
{
   background-color: #F1F1F1;
   cursor: pointer;
}

tr.warning
{
   background-color: #F9F8D0;
}

tr.warning:hover
{
   background-color: #F1F1F1;
   cursor: pointer;
}